[Unit]
Description=Run battery health notification service weekly

[Timer]
OnCalendar=weekly
OnUnitActiveSec=1week
Persistent=true

[Install]
WantedBy=timers.target